
.header-container {
    width: 100%;
    overflow: hidden; 
}

.nav {
    width: 100%;
    height: 80px;
    z-index: 2;
}
.logo-nav{
    height: 50px;
    width: auto;
}
 


.header-image  {
    
    background-image: url('./images/HeroSection.jpg');
    width: auto;
    height: 80vh; 
    object-fit: cover; 
    display: block; 
    position: relative;
 
   
 
}

.header-image::after{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(9, 26, 9);
    opacity: 0.5;
    z-index: 1;

}
.hero-content{
    position: relative;
    height: 100%;
   z-index: 2;
}
.hero-slide{
    display:flex;
    justify-content: space-between;
   
    flex-direction: row; 
    height: 100%;
}
.title{
 
    color: #F2E8CF;
    font-size: 1000;
    font-weight: 900;
    
}
.sous-title{
 
    color: #F2E8CF;
    font-size: 30px;
    font-weight: 300px;
}
.hero-title{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search{
    display: flex;
    padding-top: 52px;    
  
}
.search > input {
    height: 50px;
    width: 300px;
}
.search > button {
    height: 50px;
}
searsh

@media only screen and (max-width:770px) {
    .hero-slide{
    
        flex-direction: column-reverse; 
       
    }
}

.bg-parchment{
    background-color: #F2E8CF;
}
.dark-green{
    background-color: #6a994e;
}
.red{
    background-color: #bc4749;
}
.mybtn2:hover{      /* to make the elements coler in the coller bellow while puting the mouse on it */
    background-color:#F2E8CF;
    opacity: 0.9;
}
.mybtn2:focus{      /* to make the elements coler in the coller bellow while clicking on it */
    background-color:#F2E8CF;   
    opacity: 0.9;
}
.mybtn:hover{
    background-color: #6a994e;
    box-shadow: rgb(20, 30, 40) -30px 20px 40px -15px, rgb(20, 30, 40) -40px 20px 40px -15px;
    
}
.mybtn:focus{
    background-color: #6a994e;
}

.wordhover:hover{
    color: black;
    opacity: 0.5;

}
.invitation{
    background-color: #6a994e;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: relative;
    width: auto;
    height: 60vh;  
}
.title2{
 
    font-size: 30px;
    font-weight: 900;
    color: #F2E8CF;
    
}
.sous-title2{
    font-family: 'Poppins';
    color: #F2E8CF;
    font-size: 20px;
    font-weight: 400;
}
.buisnessMen{
 width: 300px;
 height: auto;
 /* border-width: ;
 border-color: ;
 border-style: ; */
border: 15px #F2E8CF solid; 
border-radius:  5%;
/* transition: 1s; */
transform: rotate(-7deg);
}
/* .buisnessMen:hover{    Rotation while touching with mouse 
   
    transform: rotate(-10deg);
   } */

.cards{
display: flex;
justify-content: center;
align-items: center;
justify-content: space-around;
background-color: #F2E8CF;
width: auto;
height: 70vh;
}

.card{ 

display:flex;
align-items: center;
flex-direction: column;
justify-content: space-around;
background-color: #6a994e;
border: 15px  #6a994e solid; 
border-radius:  5%;
height: 450px;
width: 350px;
box-shadow: rgba(106, 153, 78, 0.4) -5px 5px, 
            rgba(106, 153, 78, 0.3) -10px 10px, 
            rgba(106, 153, 78, 0.2) -15px 15px, 
            rgba(106, 153, 78, 0.1) -20px 20px, 
            rgba(106, 153, 78, 0.05) -25px 25px;


}
.card-content{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.card-text{
    color: #F2E8CF;
}
.green-text{
    color: #6a994e;
}
.red-text{
    color: #bc4749;
}

.prefooter{
    height: 40px;
}
.foot{
    display: flex;
    flex-direction: column;
    
    width: auto;
    height:50vh;
    background-color: #6a994e;
}
.icon{
font-size: 28px;
}
.icons{
    justify-content: center;
display: flex;
flex-direction: row;
gap: 20px;
}
 /* ------------------------------------------------ */
