.contain{
    position: relative;
}
.hh{
position: relative;
display: flex;
flex-direction: column;
width: 50vw; 
height:calc(100vh - 10.4vh); 
background-color: rgb(216, 255, 222);
border : 0.5px solid rgb(58, 58, 58) ;
}
.picture{
    position: relative ;
    margin-top:15px;
    margin-left: 15px;
    margin-right: 2px;
    width: 97% !important;
    height: 370px !important;
    background-color: rgb(255, 255, 255);
    border: 4px black solid;
    border-radius: 3%;
}
.txt{
    margin-top: 15px;
    margin-left: 15px;
    font-family: 'poppins';
    font-weight: 600;
    font-style: oblique;
}
.txtCadr{
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
    width: 90%;
    height:250px;
}
.txt1{
    font-family: 'poppins';
    font-style: oblique;
    font-size:17px ;
    font-weight: 500;
}
.IconArea{
    position: relative;
    border-radius: 5px 0px 0px 5px;
    width: 40px;
    height: 40px;
    background-color:#6a994e;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: black;    
}

.TextArea{
    position: relative;
    width: 70px;
    height: 40px;
    background-color: #F2E8CF;
    border-radius: 0px 5px 5px 0px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: black;    
}
.iconsrow{
    margin-top: 30px;
}