.container_form{
    background-image: url('./images/SignIn.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 5%;

}

.form2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) -80px 0px 60px -10px;
    border: #5a9151 solid 5px;
    align-items: center;
    background-color:#F2E8CF;
    border-radius: 10%;
    height:auto;
  
    position: relative;
    padding: 4rem;
 
}
.long{
    width: 200px;
}


@media only screen and (max-width:770px) {
    .form2{
        flex-direction: column;
        padding: 0.5rem;

    }
}