.img1{
    z-index: 2;
    background-image: url('./images/User.jpg');
    background-size: cover; 
    background-position: center; 
    width: 100%;  
    height: 90vh; 
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    
}
.form1{
    box-shadow: rgba(0, 0, 0, 0.4) -80px 0px 60px -10px;
    border: #F2E8CF solid 5px;
    align-items: center;
    background-color: rgba(49, 48, 48, 0.6); 
    border-radius: 5%;
    height: 660px;
    width: 800px;
    position: relative;
    padding: 2rem 4rem 1rem 4rem;
    z-index: 5;
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(10px);
 }



 .contain{
    height: 70vh;
    width: auto;
    
}


.img::after{
    z-index: 2;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(9, 26, 9);
    opacity: 0.3;
    z-index: 1;
}

.sides{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.searchopacity1{
    border: #38d61c solid 2px ;
    background-color: #f2e9d0;
    opacity: 0.8;
    
}
.searchopacity:hover{
    box-shadow: rgb(20, 30, 40) -30px 20px 40px -15px, rgb(20, 30, 40) -40px 20px 40px -15px;
}
  .SignINc{
    color: #5a9151;
}   
.white-text{
   color : #f2e9d0 ;
}
.centrer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.b{
    background-color: #146124;
    width: 200px;
}

  
.upload{
    width: 80px;
    position: relative;
    bottom: 50px;
    margin-right: 1px;
    
}
.upload img{
    border:#F2E8CF solid 4px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.upload .round{
position: absolute;
bottom: 0;
right: -4px;
background-color: #5a9151;
border-radius: 50%;
width: 32px;
height: 32px;
line-height: 32px;
text-align: center;
overflow: hidden;
}
.upload .round input[type='file']{
position:absolute;
transform: scale(2);
opacity: 0; 
}
input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
}

.left{
    position : absolute;
    top: 80px;
    left: 0rem;
    transform: translateY(-50%);
}
